@model System.Data.DataTable
@{
    ViewBag.Title = "Công nợ nhà cung cấp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nhà cung cấp</th>
            <th scope="col">Điện thoại</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Email</th>
            <th scope="col">Công nợ</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null && Model.Rows.Count > 0)
            {
                int i = 1;
                foreach (System.Data.DataRow row in Model.Rows)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@row["NAME"]</td>
                        <td>@row["DIENTHOAI"]</td>
                        <td>@row["DIACHI"]</td>
                        <td>@row["EMAIL"]</td>
                        <td>@WebApplication.Utils.ConvertTo.Decimal(row["CONGNO"]).ToString("n0")</td>
                        <td data-id="@row["ID"]">
                            @{
                                if (WebApplication.Utils.ConvertTo.Decimal(row["CONGNO"]) != 0)
                                {
                                    <a href="/ThuChi/AddOrEdit?id=&DNHACUNGCAPID=@row["ID"]&soTien=@(-WebApplication.Utils.ConvertTo.Decimal(row["CONGNO"]))">
                                        <div class="btnTaoPhieuChi btn btn-warning">Thanh toán</div>
                                    </a>
                                }
                            }
                        </td>
                    </tr>
                    i++;
                }
            }
        }
    </tbody>
</table>