@model IEnumerable<WebApplication.Models.DMATHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Thêm mới", "Edit")
</p>
<table class="table">
    <tr>
        <th>
            Mã hàng
        </th>
        <th>
            Tên hàng
        </th>
        <th>
            Có Imei
        </th>
        <th>
            Giá nhập
        </th>
        <th>
            Giá bán
        </th>
        <th>
            Nhóm hàng
        </th>
        <th>
            Thương hiệu
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.COIMEI > 0 ? "Có" : "Không")*@
            @{ if (item.COIMEI == null || item.COIMEI == 0) { <text>Không</text> } else { <text>Có</text> } }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIANHAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIABAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DNHOMMATHANG.CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DTHUONGHIEU.NAME)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
