@model WebApplication.Models.DMATHANG
<form id="data" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="ipCode">Mã hàng</label>
        @if (Model.ID != null)
        {
            <input type="text" name="CODE" class="form-control" id="ipCode" value="@Model.CODE" readonly>
        }
        else
        {
            <input type="text" name="CODE" class="form-control" id="ipCode" value="Tự động" readonly>
        }
    </div>
    <div class="form-group">
        <label for="ipName">Mặt hàng</label>
        <input type="text" name="NAME" class="form-control" id="ipName" value="@Model.NAME">
    </div>
    <div class="form-group">
        <label for="ipGiaNhap">Giá nhập</label>
        <input type="number" name="GIANHAP" class="form-control" id="ipGiaNhap" value="@Convert.ToInt32(Model.GIANHAP)">
    </div>
    <div class="form-group">
        <label for="ipGiaBan">Giá bán</label>
        <input type="number" name="GIABAN" class="form-control" id="ipGiaBan" value="@Convert.ToInt32(Model.GIABAN)">
    </div>
    <div class="form-group">
        <label for="ipNhomHang">Nhóm hàng</label>
        <select class="form-control" id="ipNhomHang" name="DNHOMMATHANGID">
            @foreach (var item in ViewBag.nhomHangs)
            {
                if (Model.DNHOMMATHANGID == item.ID)
                {
                    <option value="@item.ID" selected>@item.NAME</option>
                }
                else
                {
                    <option value="@item.ID">@item.NAME</option>
                }
            }
        </select>
    </div>
</form>