@model List<WebApplication.Models.DMATHANG>
<div class="row table-wrap">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Mã hàng</th>
                <th scope="col">Mặt hàng</th>
                <th scope="col">Giá nhập</th>
                @if (!ViewBag.itemCart)
                {
                    <th scope="col">Giá bán</th>
                }
                <th scope="col">Nhóm hàng</th>
                @if (!ViewBag.itemCart)
                {
                    <th scope="col" class="col-btn-125" colspan="2"><div class="btn btn-success btnAdd">Thêm mới</div></th>
                    <th scope="col"></th>
                }
            </tr>
        </thead>
        <tbody>
            @{ int i = 1; }
            @foreach (var item in Model)
            {
                <tr data-id="@item.ID" data-code="@item.CODE" data-name="@item.NAME" data-gianhap="@item.GIANHAP" data-coimei="@item.COIMEI">
                    <th scope="row">@i</th>
                    <td>@item.CODE</td>
                    <td>@item.NAME</td>
                    <td>@Convert.ToDouble(item.GIANHAP).ToString("n0")</td>
                    @if (!ViewBag.itemCart)
                    {
                        <td>@Convert.ToDouble(item.GIABAN).ToString("n0")</td>
                    }
                    <td>@item.DNHOMMATHANG.NAME</td>
                    @if (!ViewBag.itemCart)
                    {
                        <td class="col-btn-125"><div class="btn btn-warning btnEdit">Chỉnh sửa</div></td>
                        <td class="col-btn-125"><div class="btn btn-info btnUplloadFile">QL Ảnh</div></td>
                        <td class="col-btn-50"><div class="btn btn-danger btnDelete">Xóa</div></td>
                    }
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
@if (ViewBag.numberOfPage != null && ViewBag.numberOfPage > 1)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination" style="margin: 0!important; display: flex !important">
            @for (i = 1; i <= ViewBag.numberOfPage; i++)
            {
            <li class="page-item">
                @if (i == ViewBag.currentPage)
                {
                    <div class="page-link active" data-url="/MatHang/Table?page=@i&nhomId=@ViewBag.nhomId&thuongHieuId=@ViewBag.thuongHieuId&s=@ViewBag.s&itemCart=@ViewBag.itemCart">@i</div>
                }
                else
                {
                    <div class="page-link" data-url="/MatHang/Table?page=@i&nhomId=@ViewBag.nhomId&thuongHieuId=@ViewBag.thuongHieuId&s=@ViewBag.s&itemCart=@ViewBag.itemCart">@i</div>
                }
            </li>
            }
        </ul>
    </nav>
}