@model System.Data.DataTable
@{
    ViewBag.Title = "Chi tiết công nợ nhà cung cấp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form class="row" action="" method="get">
    <div class="col-6">
        <div class="form-group row">
            <label class="col-4" for="lueDNHACUNGCAPID">Nhà cung cấp</label>
            <select class="form-control col-8" id="lueDNHACUNGCAPID" name="DNHACUNGCAPID">
                @{ 
                    foreach (WebApplication.Models.DNHACUNGCAP ncc in ViewBag.ncc)
                    {
                        <option value="@ncc.ID" @{ if (ViewBag.nccSelect == ncc.ID) { <text>selected</text> } }>@ncc.NAME</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="col-2">
        <button type="submit" class="btn btn-info btnRefresh">Refresh</button>
    </div>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ngày</th>
            <th scope="col">Số phiếu</th>
            <th scope="col">Tổng cộng</th>
            <th scope="col">Thanh toán</th>
            <th scope="col">Lũy kế</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null && Model.Rows.Count > 0)
            {
                int i = 1;
                foreach (System.Data.DataRow row in Model.Rows)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@row["NGAY"]</td>
                        <td>@row["NAME"]</td>
                        <td>@WebApplication.Utils.ConvertTo.Decimal(row["TONGCONG"]).ToString("n0")</td>
                        <td>@WebApplication.Utils.ConvertTo.Decimal(row["TIENTHANHTOAN"]).ToString("n0")</td>
                        <td>@WebApplication.Utils.ConvertTo.Decimal(row["LUYKE"]).ToString("n0")</td>
                    </tr>
                    i++;
                }
            }
        }
    </tbody>
</table>