@{
    ViewBag.Title = "Lợi nhuận theo ngày";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="" method="get">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <div class="row">
                    <div class="col-2">
                        <p>Từ ngày: </p>
                    </div>
                    <div class="col-4">
                        <input type="date" class="form-control" name="fDate" value="@ViewBag.fDate">
                    </div>
                    <div class="col-2">
                        <p>Đến ngày: </p>
                    </div>
                    <div class="col-4">
                        <input type="date" class="form-control" name="tDate" value="@ViewBag.tDate">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-info btnRefresh">Refresh</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12" style="height: 35px; font-weight: bold;">Nhập kho: @WebApplication.Utils.ConvertTo.Int(ViewBag.tongNhap)</div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ngày</th>
            <th scope="col">Số phiếu</th>
            <th scope="col">Tổng cộng</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (ViewBag.tblNhapKho != null && ViewBag.tblNhapKho.Rows.Count > 0)
            {
                int i = 1;
                foreach (System.Data.DataRow row in ViewBag.tblNhapKho.Rows)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@row["NGAY"]</td>
                        <td>@row["NAME"]</td>
                        <td>@WebApplication.Utils.ConvertTo.Int(@row["TONGCONG"])</td>
                    </tr>
                    i++;
                }
            }
        }
    </tbody>
</table>

<div class="row">
    <div class="col-12" style="height: 35px; font-weight: bold;">Xuất kho: @WebApplication.Utils.ConvertTo.Int(ViewBag.tongXuat)</div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ngày</th>
            <th scope="col">Số phiếu</th>
            <th scope="col">Tổng cộng</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (ViewBag.tblHoaDon != null && ViewBag.tblHoaDon.Rows.Count > 0)
            {
                int i = 1;
                foreach (System.Data.DataRow row in ViewBag.tblHoaDon.Rows)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@row["NGAY"]</td>
                        <td>@row["NAME"]</td>
                        <td>@WebApplication.Utils.ConvertTo.Int(@row["TONGCONG"])</td>
                    </tr>
                    i++;
                }
            }
        }
    </tbody>
</table>

<div class="row">
    <div class="col-12" style="height: 35px; font-weight: bold;">Lợi nhuận: @WebApplication.Utils.ConvertTo.Int(ViewBag.loiNhuan)</div>
</div>