@model WebApplication.Models.TDONHANG
@{
    ViewBag.Title = "Phiếu nhập kho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-5">
        <div class="col-12">
            <div class="row">
                <div class="form-group">
                    <input type="text" class="form-control ipSearch" placeholder="Tìm kiếm">
                </div>
                <div class="divMatHang">
                    @{
                        Html.RenderAction("Table", "MatHang", new { page = 1, nhomId = "", thuongHieuId = "", s = "", itemCart = true });
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-7 divDetails">
        <form method="post">
            <div class="row divTop">
                <div class="form-group col-12">
                    <div class="row">
                        <div class="col-3"><label for="ipNgay" class="form-label">Ngày</label></div>
                        <div class="col-4"><input type="date" class="form-control" id="ipNgay" name="NGAY" value="@ViewBag.NGAY" readonly="readonly"></div>
                        <div class="col-2"><label for="ipName" class="form-label">Số phiếu</label></div>
                        <div class="col-3"><input type="text" class="form-control" id="ipName" name="NAME" value="@Model.NAME" readonly="readonly"></div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        <div class="col-3"><label for="ipNhaCC" class="form-label">Nhà cung cấp</label></div>
                        <div class="col-9">
                            <div class="form-group">
                                <select class="form-control" name="DNHACUNGCAPID" id="ipNhaCC">
                                    @foreach (var item in ViewBag.nhaCcs)
                                    {
                                        if (Model.DNHACUNGCAPID == item.ID)
                                        {
                                            <option selected value="@item.ID">@item.NAME</option>
                                        }
                                        else
                                        {
                                            <option value="@item.ID">@item.NAME</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row table_wrap tblChiTiet">
                @*Chi tiet hoa don*@
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Mã.hàng</th>
                            <th scope="col">Mặt hàng</th>
                            <th scope="col">Đơn giá</th>
                            <th scope="col">SL</th>
                            @*<th scope="col">% giảm</th>
                            <th scope="col">Giảm giá</th>*@
                            <th scope="col">T.tiền</th>
                            <th scope="col">Imei</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 1; }
                        @foreach (var item in Model.TDONHANGCHITIETs)
                        {
                            <tr data-id="@item.ID">
                                <th scope="row">@i</th>
                                <td>@item.DMATHANG.CODE</td>
                                <td>@item.DMATHANG.NAME</td>
                                <td>@Convert.ToDouble(item.DONGIA).ToString("n0")</td>
                                <td>@Convert.ToDouble(item.SOLUONG).ToString("n0")</td>
                                <td>@Convert.ToDouble(item.THANHTIEN).ToString("n0")</td>
                                <td>@item.IMEI</td>
                                <td></td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
            <hr />
            <div class="col divFooter">
                @*btn thanh toan, huy bo*@
                <div class="row">
                    <label class="col-2">Tiền hàng</label>
                    <input id="numTienHang" type="number" class="form-control col-3" value="@Model.TIENHANG" readonly="readonly" />
                    <label class="col-2">Tỉ lệ giảm</label>
                    <input id="numTiLeGiam" name="TILEGIAMGIA" type="number" class="form-control col-1" value="@Model.TILEGIAMGIA" @{ if (Model.ID != null && Model.ID.Length > 0) { <text> readonly="readonly"</text> } }/>
                    <label class="col-2">Tiền giảm</label>
                    <input id="numTienGiam" type="number" class="form-control col-2" value="@Model.TIENGIAMGIA" readonly="readonly" />
                </div>
                <div class="row mt-2">
                    <label class="col-2">Tổng cộng</label>
                    <input id="numTongCong" type="number" class="form-control col-3" value="@Model.TONGCONG" readonly="readonly" />
                    <div class="col-2"></div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Lưu phiếu nhập"/>
                    </div>
                    <div class="col-1"></div>
                    <div class="form-group">
                        <a href="/NhapKho/Index?page=1&s=&fDate=&tDate="><div class="btn btn-danger">Hủy bỏ</div></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>