@model WebApplication.Models.TDONHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <h4>Hóa đơn</h4>
        <div class="btn btn-warning btnDoiTrangThai" style="margin-left: auto; margin-right: 15px;" data-id="@Model.ID">Đổi trạng thái</div>
    </div>
    <hr />
    <div class="row">
        <div class="col-2">
            <dl>
                <dt>
                    Ngày
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NGAY)
                </dd>
            </dl>
        </div>
        <div class="col-2">
            <dl>
                <dt>
                    Trạng thái
                </dt>

                <dd>
                    @{
                        switch (Model.TRANGTHAI)
                        {
                            case 0: <p>Chờ xử lý</p>; break;
                            case 1: <p>Đã hủy</p>; break;
                            case 2: <p>Đang giao hàng</p>; break;
                            case 3: <p>Đã nhận hàng</p>; break;
                            case 4: <p>Đã thanh toán</p>; break;
                        }
                    }
                </dd>
            </dl>
        </div>
        <div class="col-2">
            <dl>
                <dt>
                    Ghi chú
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GHICHU)
                </dd>
            </dl>
        </div>
        <div class="col-2">
            <dl>
                <dt>
                    Người nhận
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TENNGUOINHAN)
                </dd>
            </dl>
        </div>
        <div class="col-2">
            <dl>
                <dt>
                    Điện thoại nhận
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DIENTHOAI)
                </dd>
            </dl>
        </div>
        <div class="col-2">
            <dl>
                <dt>
                    Tỉnh/thành
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DTINHTHANH.NAME)
                </dd>
            </dl>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <dl>
                <dt>
                    Quận/Huyện
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DQUANHUYEN.NAME)
                </dd>
            </dl>
        </div>
        <div class="col-2">
            <dl>
                <dt>
                    Phường/Xã
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DPHUONGXA.NAME)
                </dd>
            </dl>
        </div>
        <div class="col-2">
            <dl>
                <dt>
                    Địa chỉ nhận
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DIACHI)
                </dd>
            </dl>
        </div>
    </div>

    <div class="row p-3">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    @*<th scope="col">#</th>*@
                    <th scope="col">Mã hàng</th>
                    <th scope="col">Mặt hàng</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Thành tiền</th>
                    <th scope="col">Imei/Seri</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (WebApplication.Models.TDONHANGCHITIET ctRow in Model.TDONHANGCHITIETs)
                    {
                        <tr>
                            <td>@ctRow.DMATHANG.CODE</td>
                            <td>@ctRow.DMATHANG.NAME</td>
                            <td>@ctRow.DONGIA</td>
                            <td>@ctRow.SOLUONG</td>
                            <td>@ctRow.THANHTIEN</td>
                            <td>@ctRow.IMEI</td>
                            <td>
                                @{
                                    int coImei = ctRow.DMATHANG.COIMEI ?? 0;
                                    if (coImei > 0)
                                    {
                                        <div id="btnNhapImei" data-id="@ctRow.ID" class="btn btn-info">Nhập Imei/Seri</div>
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Danh sách hóa đơn", "Index")
</p>
