@model PagedList.IPagedList<WebApplication.Models.TDONHANG>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý hóa đơn</h2>
<table class="table">
    <tr>
        <th>
            Ngày
        </th>
        <th>
            Số HĐ
        </th>
        <th>
            Khách hàng
        </th>
        <th>
            Tổng cộng
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            Ghi chú
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    string time = (item.NGAY ?? DateTime.Now).ToString("dd/MM/yyyy");
                }
                @time
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DKHACHHANG.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TONGCONG)
            </td>
            <td>
                @{
                    switch (item.TRANGTHAI)
                    {
                        case 0: <p>Chờ xử lý</p>; break;
                        case 1: <p>Đã hủy</p>; break;
                        case 2: <p>Đang giao hàng</p>; break;
                        case 3: <p>Đã nhận hàng</p>; break;
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GHICHU)
            </td>
            <td>
                <a style="margin-right: 10px;" href="/HoaDon/ExportPdf?id=@item.ID"><div class="btn btn-warning">Xuất file</div></a>
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }

</table>

<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

@*case 0: <p>Chờ xử lý</p>; break;
    case 1: <p>Đã hủy</p>; break;
    case 2: <p>Đang giao hàng</p>; break;
    case 3: <p>Đã nhận hàng</p>; break;
    case 4: <p>Đã thanh toán</p>; break;*@